<table id="leaderboard" class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Players</th>
      <th class="text-center">Games</th>
      <th class="text-center">Avg</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @participations.any? %>
      <% @participations.each do |participation| %>
        <tr>
          <td><%= participation.user.name %></td>
          <td class="text-center"><%= participation.user.participations.count %></td>
          <td class="text-center"><%= participation.user.average_score %></td>
          <td><%= link_to participation_path(participation), method: :delete, data: { confirm: "Leave game and lose progress?" }, class: 'subtle-gray' do %><small><i class="fas fa-times"></i></small><% end %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No players yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
