// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$lighter-gray: #a1a1a1;
$subtle-gray: #d1cfcf;
$dark-red: #9C1613;
$blackish: #151515;
$charcoal: #343a40;
$light-charcoal: #6c757d;
