html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#left-column{
  overflow: scroll;
}

.content {
  flex: 1 0 auto;
}

.wrapper-white {
  background-color: white;
}

.wrapper-subtle-gray {
  background-color: $subtle-gray;
}

.wrapper-light-gray {
  background-color: $light-gray;
}

.subtle-gray {
  color: $subtle-gray;
}

.light-gray {
  color: $light-gray;
}

.lighter-gray {
  color: $lighter-gray;
}

.gray {
  color: $gray;
}

.yellow {
  color: $yellow;
}

.cursor-hover {
  &:hover {
    cursor: pointer;
  }
}
