html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.wrapper-white {
  background-color: white;
}

.subtle-gray {
  color: $subtle-gray;
}

.light-gray {
  color: $light-gray;
}

.gray {
  color: $gray;
}
