<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/dmbf29"><i class="fab fa-github"></i></a>
    <a href="mailto:douglasmberkley@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
    For when you can't do it in person. Friends, drinks, video chat, and the honor system.
  </div>
</div>
