<div class="container">
  <div class="my-5 row d-flex justify-content-center">
    <div class="header text-center">
      <h1>Yahtzee</h1>
      <%= simple_form_for @game do |f| %>
        <%= f.input :name, as: :hidden %>
        <%= f.submit "Start a Game", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

