<table id="leaderboard" class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Big Boys</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @big_boys.any? %>
      <% @big_boys.each do |user| %>
        <tr>
          <td><%= leader.user.name %></td>
          <td><%= leader.big_boys %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No big boys yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
