<form name="user" method="post" action="#" onSubmit="return ValidateForm(this,'box')">


<div style="position: absolute; top: 1px; left: 85px;">
<div id="bouncy1">
<img name="one" src="dice/dice1-1.jpg" > </div>

<div style="position: absolute; top: 0px; left: 135px;">
<div id="bouncy2">
<img name="two" src="dice/dice2-1.jpg" > </div>

<div style="position: absolute; top: 0px; left: 135px;">
<div id="bouncy3">
<img name="three" src="dice/dice3-1.jpg" > </div>

<div style="position: absolute; top: 0px; left: 135px;">
<div id="bouncy4">
<img name="four" src="dice/dice4-1.jpg" > </div>

<div style="position: absolute; top: 0px; left: 135px;">
<div id="bouncy5">
<img name="five" src="dice/dice5-1.jpg" > </div>







<div style="position: absolute; top: 115px; left: -475px;">
<input type="checkbox" name="box" value="one" id ="one" >
</div>

<div style="position: absolute; top: 135px; left: -485px;">
<label for = "one">HOLD</label>
</div>

<div style="position: absolute; top: 115px; left: -340px;">
<input type="checkbox" name="box" value="two" id ="two" >
</div>

<div style="position: absolute; top: 135px; left: -350px;">
<label for = "two">HOLD</label>
</div>

<div style="position: absolute; top: 115px; left: -205px;">
<input type="checkbox" name="box" value="three" id ="three" >
</div>

<div style="position: absolute; top: 135px; left: -215px;">
<label for = "three">HOLD</label>
</div>

<div style="position: absolute; top: 115px; left: -70px;">
<input type="checkbox" name="box" value="four" id ="four" >
</div>

<div style="position: absolute; top: 135px; left: -80px;">
<label for = "four">HOLD</label>
</div>

<div style="position: absolute; top: 115px; left: 65px;">
<input type="checkbox" name="box" value="five" id ="five" >
</div>

<div style="position: absolute; top: 135px; left: 55px;">
<label for = "five">HOLD</label>
</div>







<div style="position: absolute; top: 200px; left: -226px;">
     <a href="javascript:SetChecked(0,'box')">
<font face="Arial, Helvetica, sans-serif" size="3">Clear
                  All</font>
</a>
</div>



<div style="position: absolute; top: 245px; left: -295px;">
<p align="center">
<a href="javascript:georgeroll()">
<img src="dice/rollbutton.jpg" width="200" height="60" name="roll" border=0>
</a>
</p>

</div>

 <script>
   <script language="javascript">
<!--


//load button images

var pic=new Array();
<!-- pic[0]=new Image(); -->
<!-- pic[0].src="dice/rollbutton.jpg"; -->



//change button function

function chButton(name,source){

var picture=eval('document' + '.' + name);
picture.src=source;

}


//-->
</script>
<script language="javascript">
<!--




//set up variables




var ck=new Array();
var count=0;
var score = new Array();
var pos = new Array();
var x = 0;

var fld= new Array('ones','twos','threes','fours','fives','sixes');
var dice= new Array(94);

//load dice images

dice[0]= new Image();
dice[0].src="dice/dice1-1.jpg";
dice[1]= new Image();
dice[1].src="dice/dice1-2.jpg";
dice[2]= new Image();
dice[2].src="dice/dice1-3.jpg";
dice[3]= new Image();
dice[3].src="dice/dice1-4.jpg";
dice[4]= new Image();
dice[4].src="dice/dice1-5.jpg";
dice[5]= new Image();
dice[5].src="dice/dice1-6.jpg";
dice[6]= new Image();
dice[6].src="dice/dice1-7.jpg";
dice[7]= new Image();
dice[7].src="dice/dice1-8.jpg";
dice[8]= new Image();
dice[8].src="dice/dice1-9.jpg";
dice[9]= new Image();
dice[9].src="dice/dice1-10.jpg";
dice[10]= new Image();
dice[10].src="dice/dice1-11.jpg";
dice[11]= new Image();
dice[11].src="dice/dice1-12.jpg";
dice[12]= new Image();
dice[12].src="dice/dice1-13.jpg";
dice[13]= new Image();
dice[13].src="dice/dice1-14.jpg";
dice[14]= new Image();
dice[14].src="dice/dice1-15.jpg";
dice[15]= new Image();
dice[15].src="dice/dice1-16.jpg";
dice[16]= new Image();
dice[16].src="dice/dice1-17.jpg";

dice[17]= new Image();
dice[17].src="dice/dice2-1.jpg";
dice[18]= new Image();
dice[18].src="dice/dice2-2.jpg";
dice[19]= new Image();
dice[19].src="dice/dice2-3.jpg";
dice[20]= new Image();
dice[20].src="dice/dice2-4.jpg";
dice[21]= new Image();
dice[21].src="dice/dice2-5.jpg";
dice[22]= new Image();
dice[22].src="dice/dice2-6.jpg";
dice[23]= new Image();
dice[23].src="dice/dice2-7.jpg";
dice[24]= new Image();
dice[24].src="dice/dice2-8.jpg";
dice[25]= new Image();
dice[25].src="dice/dice2-9.jpg";
dice[26]= new Image();
dice[26].src="dice/dice2-10.jpg";
dice[27]= new Image();
dice[27].src="dice/dice2-11.jpg";
dice[28]= new Image();
dice[28].src="dice/dice2-12.jpg";
dice[29]= new Image();
dice[29].src="dice/dice2-13.jpg";
dice[30]= new Image();
dice[30].src="dice/dice2-14.jpg";
dice[31]= new Image();
dice[31].src="dice/dice2-15.jpg";

dice[32]= new Image();
dice[32].src="dice/dice3-1.jpg";
dice[33]= new Image();
dice[33].src="dice/dice3-2.jpg";
dice[34]= new Image();
dice[34].src="dice/dice3-3.jpg";
dice[35]= new Image();
dice[35].src="dice/dice3-4.jpg";
dice[36]= new Image();
dice[36].src="dice/dice3-5.jpg";
dice[37]= new Image();
dice[37].src="dice/dice3-6.jpg";
dice[38]= new Image();
dice[38].src="dice/dice3-7.jpg";
dice[39]= new Image();
dice[39].src="dice/dice3-8.jpg";
dice[40]= new Image();
dice[40].src="dice/dice3-9.jpg";
dice[41]= new Image();
dice[41].src="dice/dice3-10.jpg";
dice[42]= new Image();
dice[42].src="dice/dice3-11.jpg";
dice[43]= new Image();
dice[43].src="dice/dice3-12.jpg";
dice[44]= new Image();
dice[44].src="dice/dice3-13.jpg";
dice[45]= new Image();
dice[45].src="dice/dice3-14.jpg";

dice[46]= new Image();
dice[46].src="dice/dice4-1.jpg";
dice[47]= new Image();
dice[47].src="dice/dice4-2.jpg";
dice[48]= new Image();
dice[48].src="dice/dice4-3.jpg";
dice[49]= new Image();
dice[49].src="dice/dice4-4.jpg";
dice[50]= new Image();
dice[50].src="dice/dice4-5.jpg";
dice[51]= new Image();
dice[51].src="dice/dice4-6.jpg";
dice[52]= new Image();
dice[52].src="dice/dice4-7.jpg";
dice[53]= new Image();
dice[53].src="dice/dice4-8.jpg";
dice[54]= new Image();
dice[54].src="dice/dice4-9.jpg";
dice[55]= new Image();
dice[55].src="dice/dice4-10.jpg";
dice[56]= new Image();
dice[56].src="dice/dice4-11.jpg";
dice[57]= new Image();
dice[57].src="dice/dice4-12.jpg";
dice[58]= new Image();
dice[58].src="dice/dice4-13.jpg";
dice[59]= new Image();
dice[59].src="dice/dice4-14.jpg";
dice[60]= new Image();
dice[60].src="dice/dice4-15.jpg";
dice[61]= new Image();
dice[61].src="dice/dice4-16.jpg";

dice[62]= new Image();
dice[62].src="dice/dice5-1.jpg";
dice[63]= new Image();
dice[63].src="dice/dice5-2.jpg";
dice[64]= new Image();
dice[64].src="dice/dice5-3.jpg";
dice[65]= new Image();
dice[65].src="dice/dice5-4.jpg";
dice[66]= new Image();
dice[66].src="dice/dice5-5.jpg";
dice[67]= new Image();
dice[67].src="dice/dice5-6.jpg";
dice[68]= new Image();
dice[68].src="dice/dice5-7.jpg";
dice[69]= new Image();
dice[69].src="dice/dice5-8.jpg";
dice[70]= new Image();
dice[70].src="dice/dice5-9.jpg";
dice[71]= new Image();
dice[71].src="dice/dice5-10.jpg";
dice[72]= new Image();
dice[72].src="dice/dice5-11.jpg";
dice[73]= new Image();
dice[73].src="dice/dice5-12.jpg";
dice[74]= new Image();
dice[74].src="dice/dice5-13.jpg";
dice[75]= new Image();
dice[75].src="dice/dice5-14.jpg";
dice[76]= new Image();
dice[76].src="dice/dice5-15.jpg";

dice[77]= new Image();
dice[77].src="dice/dice6-1.jpg";
dice[78]= new Image();
dice[78].src="dice/dice6-2.jpg";
dice[79]= new Image();
dice[79].src="dice/dice6-3.jpg";
dice[80]= new Image();
dice[80].src="dice/dice6-4.jpg";
dice[81]= new Image();
dice[81].src="dice/dice6-5.jpg";
dice[82]= new Image();
dice[82].src="dice/dice6-6.jpg";
dice[83]= new Image();
dice[83].src="dice/dice6-7.jpg";
dice[84]= new Image();
dice[84].src="dice/dice6-8.jpg";
dice[85]= new Image();
dice[85].src="dice/dice6-9.jpg";
dice[86]= new Image();
dice[86].src="dice/dice6-10.jpg";
dice[87]= new Image();
dice[87].src="dice/dice6-11.jpg";
dice[88]= new Image();
dice[88].src="dice/dice6-12.jpg";
dice[89]= new Image();
dice[89].src="dice/dice6-13.jpg";
dice[90]= new Image();
dice[90].src="dice/dice6-14.jpg";
dice[91]= new Image();
dice[91].src="dice/dice6-15.jpg";
dice[92]= new Image();
dice[92].src="dice/dice6-16.jpg";
dice[93]= new Image();
dice[93].src="dice/dice6-17.jpg";









//random number generator

function ranNum(){

for(var i = 0; i < dice.length; i++){
var j = Math.floor(Math.random() * dice.length);

return j;
 }
}



function pausecomp(millis)
{
var date = new Date();
var curDate = null;

do { curDate = new Date(); }
while(curDate-date < millis);
}



function roll(){




//determine which roll
x++;

<!--
if(x > 2000){
<!-- chButton('roll','dice/rollbutton.jpg'); -->
<!-- alert("Please Select New Game."); -->
<!-- chButton('roll','dice/rollbutton.jpg'); -->

}
else{
if(x==1){
<!-- chButton('roll','dice/rollbutton.jpg'); -->
}
-->


//check for held dice
var snd = new Audio("dicesound4.mp3");

for(var a = 0;a < document.user.box.length;a++){
  if(document.user.box[a].checked == false){
  pos[a] = document.user.box[a].value;
}
else{
  if(document.user.box[a].checked == true){
  pos[a] = "skip";

}
  }
}

for(var i = 0; i < pos.length; i++){
  var n= eval('document' + '.' + pos[i]);

  if(pos[i] == "skip"){
}

//if not held roll dice
else{


  var d=ranNum();

  score[i] = (d + 1);

pausecomp(0);
n.src=dice[d].src;

snd.play();

<!-- soundManager.play('aDrumSound'); --!



}
  }


}

}





//clear dice for next roll
function clearDice(){


var n=new Array("one","two","three","four","five","six");
for(var i=0;i < n.length;i++){
var p=eval('document' + '.' + n[i]);

p.src="dice/dice.jpg";
delete ck[i];



}

ckFrmState();
}



//clear all values for new game
function newGame(){
ck.length=0;
<!-- chButton('roll','dice/rollbutton.jpg'); -->

x=0;
count=0;
document.user.reset();

}


//-->

function georgeroll(){

           if ($('#one').is (":not(:checked)"))
{
   $("#bouncy1").click();
}

                   if ($('#two').is (":not(:checked)"))
{
   $("#bouncy2").click();
}

                   if ($('#three').is (":not(:checked)"))
{
   $("#bouncy3").click();
}

                   if ($('#four').is (":not(:checked)"))
{
   $("#bouncy4").click();
}


                    if ($('#five').is (":not(:checked)"))
{
   $("#bouncy5").click();
}



          roll();


 }




$(function(){

  //Add bounce effect on Click of the DIV
  $('#bouncy1').click(function () {
      $(this).effect("bounce", { times:2 }, 105);
  });

  $('#bouncy2').click(function () {
      $(this).effect("bounce", { times:3 }, 115);
  });

  $('#bouncy3').click(function () {
      $(this).effect("bounce", { times:2 }, 135);
  });

  $('#bouncy4').click(function () {
      $(this).effect("bounce", { times:3 }, 115);
  });

  $('#bouncy5').click(function () {
      $(this).effect("bounce", { times:2 }, 125);
  });



  //Bounce all DIVs on click of button
  $("#bounceAll").click(function(){


                   if ($('#one').is (":not(:checked)"))
{
   $("#bouncy1").click();
}

                   if ($('#two').is (":not(:checked)"))
{
   $("#bouncy2").click();
}

                   if ($('#three').is (":not(:checked)"))
{
   $("#bouncy3").click();
}

                   if ($('#four').is (":not(:checked)"))
{
   $("#bouncy4").click();
}

                   if ($('#five').is (":not(:checked)"))
{
   $("#bouncy5").click();
}






                    roll();



  });
});

 </script>
