<table id="leaderboard" class="table table-hover table-sm side-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Leaderboard</th>
      <th class="text-center">Avg</th>
      <th class="text-center">High</th>
    </tr>
  </thead>
  <tbody>
    <% if @leaderboard.any? %>
      <% @users_displayed = [] %>
      <% @leaderboard.each_with_index do |leader, index| %>
        <tr>
          <td><%= index + 1 %>. <%= leader.user.name %></td>
          <td class="text-center"><%= display_average_score(leader.user) %></td>
          <td style="text-align: center;"><%= leader.final_score %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No scores yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

