<table id="leaderboard" class="table table-hover table-sm side-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Leaderboard</th>
      <th class="text-center">Avg</th>
      <th class="text-center">High</th>
    </tr>
  </thead>
  <tbody>
    <% if @leaderboard.any? %>
      <% @users_displayed = [] %>
      <% @leaderboard.each_with_index do |leader, index| %>
        <% if index == 10 %>
          <tr class="wrapper-subtle-gray"><td></td><td></td><td></td></tr>
        <% end %>
        <tr class="<%#= 'participation-border-header' if @game.users.include?(leader.user) %>">
          <td><%= display_index(index, leader) %><%= leader.user.name %></td>
          <td class="text-center"><%= display_average_score(leader.user) %></td>
          <td style="text-align: center;"><%= leader.final_score %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No scores yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

