<table id="leaderboard" class="table table-hover table-sm side-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Leaderboard</th>
      <th>Avg</th>
      <th>High</th>
    </tr>
  </thead>
  <tbody>
    <% if @leaderboard.any? %>
      <% @leaderboard.each do |leader| %>
        <tr>
          <td><%= leader.user.name %></td>
           <td class="text-center"><%= leader.user.average_score %></td>
          <td style="text-align: center;"><%= leader.final_score %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No scores yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

