.participation-1 {
  border: 1px solid $yellow !important;
}

.participation-2 {
  border: 1px solid $blue !important;
}

.participation-3 {
  border: 1px solid $green !important;
}

.participation-4 {
  border: 1px solid $orange !important;
}

.participation-5 {
  border: 1px solid $dark-red !important;
}
