.participation-1 {
  border: 1px solid $yellow !important;
}

.participation-2 {
  border: 1px solid $blue !important;
}

.participation-3 {
  border: 1px solid $green !important;
}

.participation-4 {
  border: 1px solid $orange !important;
}

.participation-5 {
  border: 1px solid $dark-red !important;
}


.participation-border-1 {
  border-left: 3px solid $yellow !important;
}

.participation-border-2 {
  border-left: 3px solid $blue !important;
}

.participation-border-3 {
  border-left: 3px solid $green !important;
}

.participation-border-4 {
  border-left: 3px solid $orange !important;
}

.participation-border-5 {
  border-left: 3px solid $dark-red !important;
}

.participation-border-header {
  border-left: 3px solid $charcoal !important;
}
