table {
  background-color: white;
}

.game-table {
  // background-color: white;
  .form-group {
    margin-bottom: 0 !important;
  }
  .form-control {
    padding: 0;
    height: 100%;
  }
  td {
    padding: 2px;
    vertical-align: middle;
    max-width: 70px;
    min-width: 70px;
  }
  th {
    max-width: 70px;
    min-width: 70px;
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  td:first-child {
    max-width: 110px;
    min-width: 110px;
  }
  th:first-child {
    max-width: 110px;
    min-width: 110px;
  }
  .table-form-control {
    text-align: center;
    background-color: transparent;
    border: none
  }
  form {
    border: 1px solid transparent;
  }
  caption {
    padding: 0;
  }
}

#table-headers th {
  cursor: grab;
}

#table-headers th:first-child {
  cursor: pointer;
}


#table-headers th:active {
  cursor: grabbing;
}

#table-headers th.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

@media only screen and (max-width : 1199.98px) {

}


@media only screen and (max-width : 991.98px) {

}

@media only screen and (max-width : 767.98px) {
  .game-table {
   td {
     padding: 2px;
     vertical-align: middle;
     max-width: 50px;
     min-width: 50px;
   }
   th {
     max-width: 50px;
     min-width: 50px;
     font-weight: lighter;
     text-overflow: ellipsis;
     overflow: hidden;
   }
   td:first-child {
     max-width: 90px;
     min-width: 90px;
     font-size: 0.8em
   }
   th:first-child {
     max-width: 110px;
     min-width: 110px;
   }
  }
  .side-table {
    th {
      font-size: 0.8em;
    }
    td {
      font-size: 0.8em;
    }
    td:first-child {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .participations-container {
    th {
      font-size: 0.7em;
    }
    td {
      font-size: 0.7em;
    }
    td:first-child {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .author {
    span {
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width : 480px) {
}







